.Avatar {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.2rem;
}

.Avatar img.Avatar-image {
  border-radius: 50%;
  height: 3rem;
  margin-right: 0.2rem;
}

.Avatar .Avatar-extra {
  display: flex;
  flex-direction: column;
}
