.Icon {
  min-width: 20px;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
}
.Icon button {
  transition: all .3s;
  height: 100%;
  border: none;
  background: transparent;
  outline: 0;
  width: inherit;
  box-sizing: none;
  cursor: pointer;
  padding: 0 5px;
  margin: 0px;
  width: max-content;
  display: flex;
}
.Icon button p{
  align-self: center;
  padding: 0 3px;
  margin: 0;
}

.Icon:hover button{
  background: #f3f3f3;
}

.Icon button:active {
  transform: scale(.95);
}