.ChatContent {
  overscroll-behavior: contain contain;
  height: inherit;
  /* border: 1px solid rgb(75, 74, 74); */
  margin-bottom: 10px;
  background-color: #fff;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #fdfdfd;
  caption-side: bottom
}

.ChatItem {
  position: relative;
  display: flex;
  position: relative;
  white-space: pre-wrap;
  text-align: start;
}

.ChatItem.ChatItem-right {
  justify-content: flex-end;
}

.ChatItem.ChatItem-left {
  justify-content: flex-start;
}

.ChatItem.ChatItem-right .ChatItem--width85{
  float: right;
}

.ChatItem.ChatItem-left .ChatItem--width85{
  float: left;
}

.ChatItem--width85 {
  max-width: 85%;
}

.ChatItem.ChatItem-right .ChatItem--content{
  background-color: #0084ff;
  color: #fff;
}

.ChatItem.ChatItem-left .ChatItem--content{
  background-color: #f1f0f0;
  color: initial;
}

.ChatItem--content {
  border-radius: 25px;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 5px 10px;
}

.ChatItem--content span {
  white-space: pre-wrap;
}
