.ContainerNotification {
  max-width: 430px;
  color: #393939;
  box-shadow: 0 2px 1px 1px #dcdcdc;
  position: absolute;
  /* padding: 10px; */
  box-sizing: border-box;
  top: 35px;
  right: 60px;
  background-color: #FFF;
  width: 100%;
  overflow-y: hidden;
}
