.Historias {
  margin-top: 14px;
  text-align: left;
  background-color: #fff;
  padding: 0px 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #dcdcdc;
}

.Historias p{
  margin: 4px;
}

.Historias h4{
  margin: 0;
}

.Historias--user {
  margin: 5px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 55px 1fr;
  grid-column-gap: 10px;
  box-sizing: border-box;
}

.Historias-img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #475AB1;
}

.Historias-info {
  color: #777777;
  font-size: .8em;
}

.Historias--user:hover .Historias-nombre {
  text-decoration: underline;
}

.Historias-nombre {
  font-weight: bold;
  color: #475AB1;
}