.Modal {
  /* max-width: 768px; */
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  /* padding: 10px; */
  z-index: 200;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 100vh;
  transition: all .3s;
  animation: apper .3s forwards;
  opacity: .3;
  transform: scale(1.5);
  will-change: opacity, transform;
}

@keyframes apper {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.Modal-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(74, 70, 131, 0.5);
  color: #fff;
  cursor: pointer;
  z-index: 2;
  transition: all .3s;
  font-weight: bold;
}

.Modal-close:hover {
  background-color: rgb(29, 22, 128);
}