.HomeLayout-container {
  color: var(--main-text-color);
  display: grid;
  grid-template-areas: "menu      menu    menu"
                       "asideLeft content asideRight";
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.HomeLayout-container :global(#MainMenuContainer.MainMenu-container) {
  grid-area: menu;
  min-height: 3.8rem;
}

.HomeLayout-container :global(#LeftAsideContainer.LeftAside-container) {
  grid-area: asideLeft;
}

.HomeLayout-container :global(#MainContentContainer.MainContent-container) {
  grid-area: content;
  overflow-y: scroll;
}

.HomeLayout-container :global(#RightAsideContainer.RightAside-container) {
  grid-area: asideRight;
}